<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width= device-width, initial-scale= 1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/nouislider.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css/style.css">
</head>
<body>
  <div class="wrapper">
    <!-- Header -->
    <header> 
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                            <nav class="navbar bg-dark navbar-dark">
                       
                                    <a class="navbar-brand" href="#">
                                        <div class="logo">
                                            <h1><span>XISCHE</span><br>insights</h1>
                                        </div>
                                    </a>
                                  
                                    <div class="content-right">
                                        <div class="header__search">
                                                <div class="form-group">
                                                    <span class="icon icon-search"></span>
                                                    <input type="text" placeholder="Search...">
                                                </div>
                                            </div>
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                      <ul class="navbar-nav">
                                        <li class="nav-item">
                                          <a class="nav-link" href="#">1</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#">2</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#">3</a>
                                        </li> 
                                      </ul>
                                    </div> 
                            </nav>
                    </div>
                </div>
            </div>
    </header>

        <!-- Content -->
        <main>
            <section class="section__filter">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h2>CONTENT TYPE</h2>
                            <div class="filter__info filter__fade">
                                <p>Lorem ipsum is simply text of the type industry. Lorem ipsum is simply text of the type industry.</p>
                            </div>
                            <div class="filter__contentType filter__sticky">
                                <div class="select-wrapper">
                                <select>
                                    <option>Innovation</option>
                                    <option>Culture</option>
                                    <option>Future</option>
                                </select>
                                </div>
                            </div>
                            <div class="filter__contentType filter__fade">
                                <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon__holder">
                                                <span class="icon icon-innovation"></span>
                                            </div>
                                            <div class="txt">
                                                <p>Innovation</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="icon__holder">
                                                <span class="icon icon-culture"></span>
                                            </div>
                                            <div class="txt">
                                                <p>Culture</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="icon__holder active">
                                                <span class="icon icon-future active"></span>
                                            </div>
                                            <div class="txt">
                                                <p>Future</p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h2>CONTENT TYPE</h2>
                            <div class="filter__info filter__fade">
                                <p>Lorem ipsum is simply text of the type industry. Lorem ipsum is simply text of the type industry.</p>
                            </div>
                            <div class="filter__city filter__sticky">
                               <div class="select-wrapper">
                                <select>
                                    <option>London</option>
                                    <option>London</option>
                                    <option>Toronto</option>
                                </select>
                                </div>
                            </div>
                            <div class="filter__city filter__fade">
                                <ul>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  New York</label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  London</label></li>
                                    <li><label class="check-box"><input type="checkbox"checked> <span class="checkmark"></span>  Toronto</label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  Vancouver</label></li>
                                    <li><label class="check-box"><input type="checkbox"checked> <span class="checkmark"></span> Tokyo</label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  Vienna</label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  Stockholm</label></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h2>FOCUS AREA</h2>
                            <div class="filter__info filter__fade">
                                <p>Lorem ipsum is simply text of the type industry. Lorem ipsum is simply text of the type industry.</p>
                            </div>
                            <div class="filter__city filter__sticky">
                                   <div class="select-wrapper">
                                    <select>
                                        <option>Financial</option>
                                        <option>London</option>
                                        <option>Toronto</option>
                                    </select>
                                    </div>
                            </div>
                            <div class="filter__area filter__fade">
                                <ul>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span> Lifestyle </label></li>
                                    <li><label class="check-box"><input type="checkbox" checked> <span class="checkmark"></span> Financial </label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  Workforce </label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  Government </label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  Transportation </label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  Environment</label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span>  Infrastructure</label></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h2>IMPACT</h2>
                            <div class="filter__info filter__fade">
                                <p>Lorem ipsum is simply text of the type industry. Lorem ipsum is simply text of the type industry.</p>
                            </div>
                            <div class="filter__area filter__sticky">
                                    <div class="select-wrapper">
                                    <select>
                                        <option>Services</option>
                                        <option>London</option>
                                        <option>Toronto</option>
                                    </select>
                                    </div>
                            </div>
                            <div class="filter__area filter__fade ">
                                <ul>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span> Services</label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span> Infrastructure</label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span> Security</label></li>
                                    <li><label class="check-box"><input type="checkbox"><span class="checkmark"></span> Experiences</label></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-sm-3 filter__sticky">
                            <h2>DATE RANGE</h2>
                            <div class="filter__date">
                                <div class="row">
                                        <div class="col-sm-12">
                                            <ul>
                                                <li>
                                                    <div class="select-wrapper">
                                                    <select>
                                                        <option>2005</option>
                                                        <option>2006</option>
                                                        <option>2007</option>
                                                    </select>
                                                    </div>
                                                </li>
                                                <li>
                                                    <p>to</p>
                                                </li>
                                                <li>
                                                    <div class="select-wrapper">
                                                    <select>
                                                        <option>2005</option>
                                                        <option>2006</option>
                                                        <option>2007</option>
                                                    </select>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content__bottom">
                   <!-- Range Slider -->
            <section class="section__timeline filter__fade">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="rangeSlider__content">
                                    <div id="rangeSlider">
                                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="1599px" height="46.364px" viewBox="0 0 1599 46.364" enable-background="new 0 0 1599 46.364" xml:space="preserve">
                                                <g id="timeline" transform="translate(-158 -0.636)">
                                                    <g id="Lines" transform="translate(177 1.136)">
                                                        <path id="line34" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1469.5,0v5.682"/>
                                                        <path id="line29" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1246.5,0v5.682"/>
                                                        <path id="line24" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1024.5,0v5.682"/>
                                                        <path id="line19" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M801.5,0v5.682"/>
                                                        <path id="line8" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M311.5,0v5.682"/>
                                                        <path id="line13" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M534.5,0v5.682"/>
                                                        <path id="line33" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1425.5,0v5.682"/>
                                                        <path id="line28" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1201.5,0v5.682"/>
                                                        <path id="line23" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M978.5,0v5.682"/>
                                                        <path id="line17" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M712.5,0v5.682"/>
                                                        <path id="line2" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M44.5,0v5.682"/>
                                                        <path id="line7" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M267.5,0v5.682"/>
                                                        <path id="line12" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M490.5,0v5.682"/>
                                                        <path id="line27" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1157.5,0v5.682"/>
                                                        <path id="line22" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M934.5,0v5.682"/>
                                                        <path id="line10" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M400.5,0v5.682"/>
                                                        <path id="line35" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1513.5,0v5.682"/>
                                                        <path id="line30" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1291.5,0v5.682"/>
                                                        <path id="line25" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1068.5,0v5.682"/>
                                                        <path id="line20" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M845.5,0v5.682"/>
                                                        <path id="line4" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M133.5,0v5.682"/>
                                                        <path id="line9" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M356.5,0v5.682"/>
                                                        <path id="line14" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M578.5,0v5.682"/>
                                                        <path id="line32" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1379.5,0v5.682"/>
                                                        <path id="line5" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M177.5,0v5.682"/>
                                                        <path id="line15" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M624.5,0v5.682"/>
                                                        <path id="line31" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1336,0v11.364"/>
                                                        <path id="line16" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M669,0v11.364"/>
                                                        <path id="line36" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1559,0v11.364"/>
                                                        <path id="line26" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1113,0v11.364"/>
                                                        <path id="line11" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M446,0v11.364"/>
                                                        <path id="line6" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M224,0v11.364"/>
                                                        <path id="line1" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M1,0v11.364"/>
                                                        <path id="line21" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M890.5,0v11.364"/>
                                                        <path id="line3" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M89.5,0v5.682"/>
                                                        <path id="line18" fill="none" stroke="#9B9B9B" stroke-linecap="square" stroke-miterlimit="10" d="M757.5,0v5.682"/>
                                                    </g>
                                                    <g id="Dates" transform="translate(158 20)">
                                                        <text transform="matrix(1 0 0 1 7.04 20.0007)" fill="#1D1B23" font-family="'National-Regular'" font-size="12">2000</text>
                                                        <text transform="matrix(1 0 0 1 231.04 20.0007)" fill="#1D1B23" font-family="'National-Regular'" font-size="12">2005</text>
                                                        <text transform="matrix(1 0 0 1 452.04 20.0007)" fill="#1D1B23" font-family="'National-Regular'" font-size="12">2010</text>
                                                        <text transform="matrix(1 0 0 1 1118.04 20.0007)" fill="#1D1B23" font-family="'National-Regular'" font-size="12">2025</text>
                                                        <text transform="matrix(1 0 0 1 896.04 20.0007)" fill="#1D1B23" font-family="'National-Regular'" font-size="12">2020</text>
                                                        <text transform="matrix(1 0 0 1 674.04 20.0007)" fill="#1D1B23" font-family="'National-Regular'" font-size="12">2015</text>
                                                        <text transform="matrix(1 0 0 1 1340.04 20.0007)" fill="#1D1B23" font-family="'National-Regular'" font-size="12">2030</text>
                                                        <text transform="matrix(1 0 0 1 1566.04 20.0007)" fill="#1D1B23" font-family="'National-Regular'" font-size="12">2035</text>
                                                    </g>
                                                </g>
                                                </svg>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    
                <!-- Filters Applied -->
                <section class="section__appliedFilters">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="showing">
                                    <p><span>12</span> Results</p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="appliedFilters">
                                    <ul>
                                        <li><a href="#">Future <span class="icon icon-close"><img src="/img/close.png" alt=""></span></a></li>
                                        <li><a href="#">London <span class="icon icon-close"><img src="/img/close.png" alt=""></span></a></li>
                                        <li><a href="#">Tokyo <span class="icon icon-close"><img src="/img/close.png" alt=""></span></a></li>
                                        <li><a href="#">Financial <span class="icon icon-close"><img src="/img/close.png" alt=""></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    
                <!-- Products -->
                <section class="section__products">
                    <div class="container">
                        <div class="row">
                            <% for(var i=0; i<title.length; i++) {%>
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="item__box">
                                        <div class="item__img" style="background-image: url('<%= image[i]%>')">
        
                                        </div>
                                        <div class="item__desc">
                                            <div class="item__case">
                                                <p><span class="icon icon-case"></span><%= type[i]%></p>
                                            </div>
                                            <div class="item__txt">
                                                <h3><%= title[i]%></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    
    <!-- Footer -->
    <footer>
      <div class="container">
                <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <ul>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Documentation & Support</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="copyrights">
                                <p>Copyright © Xische & Co. 2018</p>
                            </div>
                        </div>
                </div>
            </div>
    </footer>
  </div>
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/nouislider.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>